@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* Peso de fuente regular */
    background-color: #FFFFFF; /* Blanco fondo */
    color: #000000; /* Texto negro por defecto */
}

.fondoNav {
    position: fixed; /* Hace que el nav se quede fijo en la parte superior */
    top: 0; /* Alinea el nav al borde superior de la página */
    left: 0; /* Alinea el nav al borde izquierdo de la página */
    width: 100%; /* Asegura que el nav ocupe todo el ancho de la página */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0); /* Sin sombra */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
}

.fondoNav.scrolled {
    background-color: #FFFFFF; /* Fondo blanco */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra negra */
}

.fondoNav a {
    color: #FFFFFF; /* Color blanco para enlaces */
    transition: color 0.3s; /* Transición suave */
}

.fondoNav.scrolled a {
    color: #2F3645; /* Color gris para enlaces cuando se hace scroll */
}

.fondoNav a:hover {
    color: #767a81; /* Color azul con transparencia en hover */
}

.menu {
    list-style: none;
    display: flex;
}

.item-menu {
    margin-left: 20px;
}

.item-link {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1.5rem;
    text-decoration: none; /* Elimina el subrayado */
}


.header {
    position: relative;
    text-align: center;
    height: 750px; /* Ajusta la altura del header según sea necesario */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0);
    overflow: hidden; /* Asegura que el contenido no se desborde */
    background-image: url('./assets/imagenes/fondo.jpg'); /* Establece la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el header */
    background-position: center; /* Centra la imagen en el header */
    background-attachment: fixed; /* Hace que la imagen de fondo permanezca fija al hacer scroll */
    display: flex; /* Utiliza Flexbox para centrar contenido */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el header */
    z-index: -1; /* Envía la imagen al fondo, detrás del texto */
}

.titulo-blanco {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 4rem;
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0); /* Ajusta el sombreado */
}

/* Main */
main {
    text-align: center; /* Centra el contenido en el main */
    padding: 20px; /* Agrega un poco de espacio alrededor del contenido del main */
}

main h2 {
    font-size: 3rem; /* Tamaño del texto del h2 */
    font-weight: 400;
    margin-top: 50px; /* Espacio adicional desde el borde superior */
    text-align: center; /* Centrar el texto */
    color: #2F3645; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.6); /* Sombra de texto gris */
}

/* contenido */
.cont-padre {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.img-card {
    max-width: 100%;
    border-radius: 5px;
}

.desc-card {
    margin: 20px 0;
    color: #2f3645; /* Color azul */
    font-weight: 400;
}

.boton-ver {
    background-color: #2f3645; /* Color azul */
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: #F0F5E4;
    font-weight: bold;
}


/* Estilo para el footer */
footer {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    padding: 90px; /* Espaciado interno del footer */
    background-color: #2F3645; /* Color de fondo del footer */
}

.footer-left {
    display: flex;
    align-items: center;
    font-size: 0.8rem; /* Tamaño del texto del h2 */
    font-weight: 200;
}

.logo {
    max-height: 80px;
    margin-right: 20px;
}

footer div {
    font-size: 1rem; /* Tamaño del texto */
    font-weight: 400;
    text-align: center;
    padding: 10px;
    background-color: #2F3645; /* Fondo alternativo */
    color: #FFFFFF;
}




/* Scroll y Cambio de Tema */
.scrolled {
    background-color: #000080; /* Cambia el color de fondo del nav al hacer scroll */
}

.body-day {
    background-color: #FFFFFF;
    color: #000000;
}

.body-night {
    background-color: #2F3645;
    color: #FFFFFF;
}

.show {
    display: block;
}

.tema {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #2F3645;
    padding: 10px;
}

.item-submenu {
    padding: 5px;
    color: #FFFFFF;
}